* {
    margin: 0px;
    padding: 0px;
}

.user_appointment_details {
    height: 100%;
    min-height: 60vh;
}

.user_appointment_details .user_details h2 {
    color: #fff;
    text-align: center;
    margin: 5vh 0px;
    font-size: 50px;
    text-transform: capitalize;
}

.user_appointment_details .user_details .user_data .inner_user_data_div {
    padding: 20px;
}

.user_appointment_details .user_details .user_data .inner_user_data_div table {
    width: 100%;
}

.user_appointment_details .user_details .user_data .inner_user_data_div table,
tr,
td,
th {
    color: #fff;
    text-align: center;
    border: 2px solid #fff;
    border-collapse: collapse;
    padding: 0.4rem;
    text-transform: uppercase;
}

.user_appointment_details .user_details .user_data .inner_user_data_div table tr th {
    text-align: center;
    text-transform: uppercase;
}

.user_appointment_details .user_details .user_data .inner_user_data_div table tr td {
    text-align: center;
}

.user_appointment_details .user_details .user_data .inner_user_data_div table tr td button {
    background: transparent;
    padding: 4px 5px;
    cursor: pointer;
}

.user_appointment_details .user_details .user_data .inner_user_data_div table tr td:hover img {
    width: 24px;
    height: 24px;
}

.user_appointment_details .user_details .user_data .inner_user_data_div table tr td:hover button {
    box-shadow: 1px 0px 4px 1px #fff;
}

.user_appointment_details .user_details .user_data .inner_user_data_div table tr .delete_button:hover {
    cursor: pointer;
}