* {
    margin: 0;
    padding: 0;
}

.banner_section {
    width: 100%;
    height: calc(100vh - 60px);
    position: relative;
}

.banner_section .banner_content {
    display: flex;
    align-items: center;
    justify-content: center;
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: calc(100vh - 60px);
    background: radial-gradient(63.89% 100% at 50% 100%, rgba(13, 17, 23, 0) 18.14%, #0d1117 100%), linear-gradient(180deg, rgba(13, 17, 23, 0) 69.5%, #0d1117), linear-gradient(90deg, rgba(183, 33, 255, .8) 6.12%, rgba(33, 212, 253, .8) 61.75%);
}

.banner_section .banner_content .banner_inner_div {
    display: block;
    text-align: center;
}

.banner_section .banner_content .banner_inner_div h1 {
    font-family: Epilogue;
    font-weight: 500;
    font-size: 64px;
    color: #fff;
    line-height: 65px;
    margin: 16px 0 12px;
}

.banner_section .banner_content .banner_inner_div h6 {
    font-family: Satoshi-light;
    font-weight: 300;
    font-size: 16px;
    color: #eee;
    line-height: 21px;
    margin: 0 0 60px;
}

.banner_section .banner_content .banner_inner_div .btn_primary.btn_sheduled {
    width: 189px;
    height: 51px;
    font-weight: 700;
    font-size: 14px;
    line-height: 18px;
}

.btn_primary {
    background-image: linear-gradient(0deg, #fff 50%, transparent 0);
    background-size: 100% 220%;
    background-position: bottom;
    transition: background-position .4s ease-in-out;
    border: .5px solid #fff;
    border-radius: 5px;
    padding: 10px;
    cursor: pointer;
    font-weight: 700;
    line-height: 16px;
    font-size: 12px;
    color: #000;
    background-color: transparent;
}

.btn_primary:hover {
    background-position: top;
}


.our_value_section .our_value_box .our_value_card {
    background: linear-gradient(180deg, hsla(0, 0%, 100%, .1) .39%, hsla(0, 0%, 60%, .1) 100.39%), #0d1117;
    max-width: calc(100% - 20px);
    padding: 20px;
    border-radius: 20px;
}

.our_value_section .our_value_box .our_value_card .image_div {
    width: 72px;
    height: 72px;
    background: rgba(0, 0, 0, .2);
    display: flex;
    align-items: center;
    justify-content: center;
    border-radius: 16px;
    margin-bottom: 30px;
}

.our_value_section .our_value_box .our_value_card h3 {
    font-family: Epilogue;
    font-size: 20px;
    font-weight: 600;
    line-height: 20.5px;
    color: #fff;
    margin: 0 0 16px;
}

.our_value_section .our_value_box .our_value_card p {
    font-size: 14px;
    font-weight: 400;
    line-height: 18.9px;
    color: #797979;
    margin: 0;
}

.our_value_section .our_value_box {
    margin-top: 40px;
}

.our_value_section .our_value_box .our_value_card {
    height: auto;
    min-height: 262px;
}

.experience_section {
    display: block;
    background: #0d1117;
    padding: 0px;
}

.experience_section .experience_details {
    display: block;
    text-align: center;
}

.experience_section .experience_details h2 {
    font-weight: 500;
    font-size: 16px;
    color: #eee;
    line-height: 21px;
    max-width: 715px;
    margin: 0 auto 80px;
}

.experience_section .experience_details .data_section {
    display: flex;
    justify-content: space-between;
    max-width: 1200px;
    margin: 0 auto 80px;
    gap: 15px;
}

.experience_section .experience_details .data_section .experience_box {
    display: block;
    max-width: 200px;
}

.experience_section .experience_details .data_section .experience_box h3 {
    font-family: Epilogue;
    font-weight: 600;
    font-size: 50px;
    color: #fff;
    line-height: 51px;
    margin: 0;
}

.experience_section .experience_details .data_section .experience_box h4 {
    font-weight: 400;
    font-size: 16px;
    color: #fff;
    line-height: 21px;
    margin: 0;
}

.experience_section .brand_trust_section {
    display: block;
    padding: 0px;
}



@media only screen and (max-width: 992px) {

    .experience_section {
        padding: 50px 0;
    }

    .experience_section .experience_details h2 {
        margin: 0 auto 50px;
    }

    .experience_section .experience_details .data_section {
        display: grid;
        grid-template-columns: repeat(2, 1fr);
        grid-gap: 40px 10px;
        gap: 40px 10px;
        margin: 0 auto 50px;
    }

    .experience_section .experience_details .data_section .experience_box {
        margin: 0 auto;
    }

    .experience_section .experience_details .data_section .experience_box h3 {
        font-size: 40px;
    }

    .experience_section .experience_details .data_section .experience_box h4 {
        font-size: 14px;
    }
}